# -----------------------------# Go# -----------------------------*.exe*.out*.test*.log/bin//vendor//coverage/# Модули и кеш GORM*.sqlite*.db# -----------------------------# Node.js / React# -----------------------------node_modules/frontend/node_modules/frontend/build/frontend/dist/npm-debug.log*yarn-debug.log*yarn-error.log*package-lock.json# -----------------------------# Конфигурация среды# -----------------------------.env.env.*           # .env.development, .env.production и др.# -----------------------------# Системные файлы# -----------------------------.DS_StoreThumbs.db# -----------------------------# IDE / Редакторы# -----------------------------.idea/.vscode/# -----------------------------# Docker# -----------------------------docker-compose.override.yml.docker/# -----------------------------# Git# -----------------------------.git/# -----------------------------# Логи# -----------------------------*.log